extends layout

block content
  section(class="delete")
    h1(class="delete__title") #{title}: #{course.name}

    if course_recipes.length

      div(class="delete__section")
        p(class="delete__text") Delete the following recipes before proceeding.

        div(class="delete__div")

          h4(class="delete__subTitle") Recipes:

          dl
          each recipe in course_recipes
            dt(class="delete__dt")
              a(href=recipe.url) #{recipe.name}

    else
      p Do you really want to delete this Course?

      form(method='POST' action='')
        div
          input(type='hidden', name='courseid', required='true', value=course._id )

        button(class="btn submit" type='submit') Delete