extends layout

block content
  section(class="detail")
    h1(class="detail__title") Course: #{course.name}

    div

      h4(class="detail__subTitle") Recipes

      dl
        each recipe in course_recipes
          dt(class="detail__text")
            a(href=recipe.url) #{recipe.name}
        else
          p(class="detail__text") This course has no recipes
    div(class="btns")
      button(class="btn")
        a(href=course.url+'/update') Update course
      button(class="btn")
        a(href=course.url+"/delete") Delete course
    