extends layout

block content
  h1 #{title}: #{course.name}

  if course_recipes.length

    p #[strong Delete the following recipes before attempting to delete this course.]

    div

      h4 Recipes

      dl
      each recipe in course_recipes
        dt
          a(href=recipe.url) #{recipe.name}

  else
    p Do you really want to delete this Course?

    form(method='POST' action='')
      div
        input(type='hidden',name='courseid', required='true', value=course._id )

      button(type='submit') Delete