extends layout

block content
  section(class="delete")
    h1(class="delete__title") #{title}: #{cuisine.name}

    if cuisine_recipes.length

      div(class="delete__section")
        p(class="delete__text") Delete the following recipes before proceeding.

        div(class="delete__div")

          h4(class="delete__subTitle") Recipes

          dl
          each recipe in cuisine_recipes
            dt(class="delete__dt")
              a(href=recipe.url) #{recipe.name}

    else
      p Do you really want to delete this Cuisine?

      form(method='POST' action='')
        div
          input(type='hidden',name='cuisineid', required='true', value=cuisine._id )

        button(class="btn submit" type='submit') Delete