extends layout

block content
  section(class="detail")
    h1(class="detail__title") Cuisine: #{cuisine.name}

    p(class="detail__description") Description: #{cuisine.description}

    div

      h4(class="detail__subTitle") Recipes

      dl
        each recipe in cuisine_recipes
          dt(class="detail__text")
            a(href=recipe.url) #{recipe.name}
        else
          p(class="detail__text") This cuisine has no recipes

      div(class="btns")
        button(class="btn")
          a(href=`${cuisine.url}/update`) Update cuisine
        button(class="btn")
          a(href=`${cuisine.url}/delete`) Delete cuisine
    