extends layout

block content

  section(class="detail")
    h1(class="detail__title") #{recipe.name} 
    ul(class="detail__list") 
      li
        a(href=`/cookbook/course/${course._id}`) Course: #{course.name}
      li 
        a(href=`/cookbook/cuisine/${cuisine._id}`) Cuisine: #{cuisine.name}
      li
        if recipe.prepTime > 1
          p Prep Time: #{recipe.prepTime} minutes
        else 
          p Prep Time: #{recipe.prepTime} minute
      li
        if recipe.cookTime > 1
          p Cook Time: #{recipe.cookTime} minutes
        else 
          p Cook Time: #{recipe.cookTime} minute
      li
        if recipe.totalTime > 1
          p Total Time: #{recipe.totalTime} minutes
        else 
          p Total Time: #{recipe.totalTime} minute
      li
        if recipe.servingSize > 1
          p Serving Size: #{recipe.servingSize} people
        else 
          p Serving Size: #{recipe.servingSize} person
    div(class="btns")
      button(class="btn")
        a(href=`${recipe.url}/update`) Update recipe
      button(class="btn")
        a(href=`${recipe.url}/delete`) Delete recipe
      

